@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
/*   NavBar CSS   */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
.navbar {
    background-color: white !important;
}
.navbar-brand {
    font-size: 1.9rem !important;
    font-weight: 400;
    color: rgb(71, 195, 226) !important;
    animation: vibrate 3s infinite ease-in-out alternate-reverse both;
}
@keyframes vibrate {
    0% {
        text-shadow: 0px 0px 2px blue;
    }
    25% {
        text-shadow: 2px 0px 2px blue;
    }
    50% {
        text-shadow: 0px 2px 2px blue;
    }
    100% {
        text-shadow: 2px 2px 2px blue;
    }
}
.navbar a {
    color: rgb(71, 195, 226) !important;
    text-transform: uppercase;
    font-size: 1.3rem;
}
.navbar a:hover {
    text-shadow: 1px 1px 2px blue;
}   
.menu_active {
    font-weight: bolder;
    border-bottom: 1px solid #565387;
}
/*
    Main Home Page CSS
*/
.btn-get-started {
    background-color: #6ac7f2;
    padding: 0.8rem;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    color: black;
    border-radius: 2rem;
    transition: 0.5s;
    letter-spacing: 1.5px;
    border: 2px solid #3498db;
}
.btn-get-started:hover {
    background-color: #0f79cf;
    color: white;
}
.brand-name {
    color: rgb(26, 182, 235);
}
.animated {
    position: relative;
    animation: up-down 2s infinite ease-in-out alternate-reverse both;
}
@keyframes up-down {
    0% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(-20px);
    }
}
@media (max-width: 991px) {
    .navbar-brand {
        font-size: 1.5rem  !important;
    }
    #header {
        height: 80vh;
        text-align: center;
    }
    #header .header-img {
        text-align: center;
    }
    #header .header-img img {
        width: 60%;
    }
}
@media (max-width: 768px) {
    #header {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    #header h1 {
        font-size: 28px;
    }
    #header h2 {
        font-size: 18px;
        margin-bottom: 30px;
    }
    #header .header-img img {
        width: 70%;
    }
}
#header h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    color: black;
    letter-spacing: 0.5px;
}
#header h5 {
    font-size: 24px;
    margin-top: 10px;
    letter-spacing: 0.5px;
}
#header img {
    text-align: right;
}